.sidebar {
  height: calc(100vh - 50px); /* 헤더를 제외한 높이 */
  background-color: white;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  overflow-y: auto; /* 사이드바에 스크롤 추가 */
  z-index: 1001; /* 헤더보다 높은 z-index 설정 */
  transition: width 0.3s; /* 애니메이션 효과 */
}

.sidebar {
  -ms-overflow-style: none; /* 인터넷 익스플로러에서 스크롤바 숨기기 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 숨기기 */
}

.sidebar-content {
  padding: 10px;
}

.toggle-button {
  position: relative;
  display: block;
  margin: 10px auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.sidebar-title {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 5px;
}

.sidebar-title:hover {
  background-color: #ffeca0;
  color: white;
}

.sidebar-submenu {
  list-style: none;
  padding: 0;
  padding-left: 10px;
  text-decoration-line: none;
}

.sidebar-submenu li {
  margin-bottom: 5px;
}

.hamburger-button {
  display: none; /* 기본적으로 숨김 */
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px; /* 햄버거 아이콘 크기 */
  position: fixed; /* 화면의 왼쪽 상단에 고정 */
  top: 20px; /* 헤더 아래 위치 */
  left: 20px; /* 왼쪽 여백 */
  z-index: 1002; /* 사이드바보다 위에 표시 */
}

@media (max-width: 768px) {
  .hamburger-button {
    display: block; /* 작은 화면에서는 햄버거 버튼 보이도록 설정 */
  }

  .sidebar {
    display: none; /* 작은 화면에서는 사이드바 숨김 */
  }

  .sidebar.open {
    display: block; /* 사이드바가 열릴 때만 보이도록 설정 */
  }
}