html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto; /* 스크롤이 가능하도록 설정 */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  background-color: transparent; /* 배경색 제거 */
  position: relative;
  z-index: 1;
}



/* 모든 회색 박스와 관련된 스타일 제거 */
.gray-box, .content-box, .main-container, .container, .box, .panel, .panel-default, .panel-body {
  background-color: transparent !important; /* 배경색 제거 */
  box-shadow: none !important; /* 그림자 제거 */
  border: none !important; /* 테두리 제거 */
  padding: 0 !important; /* 불필요한 패딩 제거 */
  margin: 0 !important; /* 불필요한 마진 제거 */
}

/* 전체 컨테이너의 기본 배경을 투명하게 설정 */
.container, .content-container, .main-container {
  background-color: transparent !important;
}

/* 레이아웃 관련 설정 */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: white;
  z-index: 1002; /* 사이드바보다 높은 z-index 설정 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.sidebar {
  position: fixed;
  top: var(--header-height); /* 헤더 바로 아래에 위치 */
  left: 0;
  height: calc(100vh - var(--header-height)); /* 헤더를 제외한 높이 */
  background-color: var(--sidebar-bg-color);
  width: var(--sidebar-width);
  overflow-y: auto;
  z-index: 1001; /* 헤더보다 낮은 z-index 설정 */
  border-radius: 10px; /* 사이드바를 둥글게 만드는 속성 */
}

/* 모달이 열렸을 때 사이드바와 헤더 비활성화 */
.sidebar-disable,
.header-disable {
  pointer-events: none; /* 모든 이벤트 비활성화 */
  opacity: 0.5; /* 선택사항: 흐리게 표시 */
}

/* 모달이 열렸을 때 z-index를 낮추기 */
.sidebar,
.header {
  z-index: 1;
}

/* 모달창이 더 높은 z-index를 가지도록 설정 */
.product-modal {
  z-index: 1000; /* 높은 값으로 설정 */
}


@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-top: 100px; /* 헤더 높이에 맞춰 조정 */
  }
}

