.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면 높이 설정 */
  margin-right:180px;
}

.header {
  flex-shrink: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; /* 헤더가 항상 최상위에 오도록 z-index 설정 */
}

.layout-content {
  display: flex;
  flex: 1;
  margin-top: 50px; /* 헤더 높이만큼 마진을 줌 */
}

.sidebar {
  flex-shrink: 0;
  height: calc(100vh - 50px); /* 헤더를 제외한 높이 */
  background-color:white;
  padding: 10px;
  position: fixed;
  margin-top: 50px; /* 헤더 높이 */
  left: 0;
  overflow-y: auto; /* 사이드바에 스크롤 추가 */
  z-index: 1001; /* 헤더보다 높은 z-index 설정 */
  transition: width 0.3s; /* 애니메이션 효과 */
}

.sidebar.open {
  width: 250px; /* 열린 상태의 너비 */
}

.sidebar.closed {
  width: 0px; /* 닫힌 상태의 너비 */
}

::-webkit-scrollbar {
  display: none; /* 웹킷 기반 브라우저 (크롬, 사파리 등)에서 스크롤바 숨기기 */
}

.sidebar {
  -ms-overflow-style: none; /* 인터넷 익스플로러에서 스크롤바 숨기기 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 숨기기 */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 70px;
  margin-left: 250px; /* 사이드바 너비만큼 마진을 줌 */
  overflow-y: auto; /* 내용이 많아지면 스크롤 가능하도록 설정 */
  transition: margin-left 0.3s; /* 애니메이션 효과 */
}

.layout.sidebar-closed .main-content {
  margin-left: 180px; /* 사이드바가 닫혔을 때의 마진 */
}

/* .footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1000; 
} */

.toggle-sidebar-button {
  position: fixed;
  left: 250px; /* 사이드바 너비 옆에 위치 */
  top: 50%;
  transform: translateY(-50%);
  background-color: #cee5ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001; /* 사이드바와 동일한 z-index 설정 */
  transition: left 0.3s; /* 애니메이션 효과 */
}

.layout.sidebar-closed .toggle-sidebar-button {
  left: 0px; /* 사이드바가 닫혔을 때의 위치 */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0; /* 모바일에서는 고정 위치 해제 */
  }

  .main-content {
    margin-left: 0;
  }

  .toggle-sidebar-button {
    left: 10px; /* 모바일에서는 더 작은 위치로 조정 */
  }
}